@import url('bootstrap');
@import url('bootstrap-icons');
@import url('flag-icons/css/flag-icons.min.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  background-color: #1d1c1c;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: white;
  }

}

.card {
  max-width: 100%;
  background-color: #1d1c1c;

  &:hover {

    background-color: gray;

    img {

      display: none;
    }

    .text {
      padding-top: 80px;
      color: white !important;
      display: block !important;
    }
  }



  p {
    text-transform: uppercase;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}